---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
			- Desarrollo de aplicaciones web con Laravel + React. <br>
			- Diseño responsive con Tailwind CSS. <br>
			- Gestión y optimización de bases de datos MySQL/MariaDB. <br>
			- Control de versiones y trabajo en equipo con Git/GitHub. <br>

			Siempre aprendiendo, siempre mejorando. 
		</p>
	</div>
</section>
