---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="sobre" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="/img/yo.jpeg"
			alt="Foto de perfil de Jhon Doe"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mí" />
			<p class="about__text">
				Soy un desarrollador full-stack apasionado por crear soluciones web eficientes. 
				Me especializo en Laravel para backend y React para interfaces dinámicas. 
				Siempre aprendiendo y mejorando mis habilidades.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
