---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="Favio">
	<div class="terminal__skills">
		<!-- <h2>Mis habilidades</h2> -->
		<div class="terminal__skills__container">
			<TerminalIcon
				src="/assets/tailwind-icon.svg"
				color="#00A3FF"
				name="Tailwind"
			/>
			<TerminalIcon
				src="/assets/laravel-icon.svg"
				color="#FF4747"
				name="Laravel"
				
			/>
			<TerminalIcon
				src="/assets/react-icon.svg"
				color="#00D1FF"
				name="React"
			/>
			<TerminalIcon src="/assets/mariadb-icon.svg" color="#F3CBC2" name="MariaDB" />
			<TerminalIcon src="/assets/git-icon.svg" color="#db3539" name="Git" />
			<TerminalIcon
				src="/assets/github-icon.svg"
				color="#FFFF"
				name="Github"
			/>
		</div>
	</div>
</Terminal>
